.todo-header{
    width:99%;
    padding:10px;
    /* border:2px solid gray; */
}
#todo-inputbox{
    width:80%;
    height: 40px;
    border:1px solid gray;
    font-size: 20px;
    outline:none;    
    border: none;
    margin-left: 30px;
    /* border:2px solid gray; */
    /* color:  #DE2FDE; */
}
.todo-ul{
    margin: 0;
    padding: 0;
}
ul li {
    cursor: pointer;
    //position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}
ul li:hover {
    background: #ddd;
}
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
 .completed{
    /* width: 20px;
    height: 20px;
    border:2px solid black; */
    position: relative;
    margin-top:-35px;
} 