.body{
    display: block;
    position: relative;
}

.body::after{
    display: table;
    clear: both;
}

.todohead{
    width:100%; 
    height:75px;
    border-bottom:gray ;
    font-size: 30px;
    color: white;
    background-color: dodgerblue;
    text-align: center;
    line-height: 2.5;
}
.TODO{
    width:52%;
    position: relative;
    left: 22%;
    top: 10%;
}

.Types{
        width: 400px;
        height: 91%;
        position: fixed;
        top: 85px;
        background-color: #EDEDED;
}

.todo-addtasks{
    width:100%;
    position: fixed;
    top: 100px;
    display: inline-block;
}
.todo-header{
    width: 95%;
    position: fixed;
    top:100px;
    font-size: 30px;
    color: dodgerblue;
}
#sort{
    width: 40px;
    height:40px;
    margin-left: 1750px;
    color:#7F55BF;
    margin-top:-60px;
    cursor: pointer;
}
#todo-inputbox{
    width:50%;
    height: 40px;
    border:2px solid dodgerblue; 
    font-size: 20px;
    outline:none;   
    text-align: center;
    position: absolute;
    top: 50px;
}
#add{
    font-size:20px;
    position: fixed;
    top: 150px;
    color:dodgerblue;
    width:8%;
    height:40px;
    outline: none;
    border:1px solid dodgerblue; 

}

.todo-container{
   position: fixed;
   top:185px;
}
.todo-item,.todo-item-fav {
    height: 80px;   
    font-size: 18px;
    border-bottom: 1px solid #EBEFF0;
}
.checked {
    color:black;
    text-decoration: line-through;
}
.edit-icon,.remove-icon,.favourite-icon{
        width:40px;
        height:35px;
        color:gray;
        cursor: pointer;
}
.favourite-icon{
    margin-left: 800px;
}

.todo-item-input{
    width:40%;
    height:40px;
    font-size: 25px;
    outline: none;
    border: none;
    /* border: 1px solid black; */
    margin-top: -30px;
    margin-left:105px; 
}
.circle-icon{
    width:30px;
    height:30px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px; 
    margin-top: 30px;
    cursor: pointer;
}
.remove-icon{
    margin-left: 850px;
    /* margin-left: 1000px; */
    margin-top: -40px;
}

#favouritestar{
    color: plum;
    margin-left: 800px;
}

.todo-favourite{
    width:50px;
    height: 50px;
    /* border:2px solid black; */
    margin-left: 160px;
    margin-top: -40px;
    cursor: pointer;
}
.fa-star-o,.fa-star{
    margin-left: 800px;
    /* margin-left: 1050px; */
    margin-top: -40px;
    cursor:pointer;
}
#favour{
    display:block;
}
.check-icon{
    width:20px;
    height:20px;
    margin-left: 4px;
    margin-top:4px;
    background-color: #7F55BF;
}
.colorchange{
   background-color:red;
}
.show{
    display: block;
}

.hide{
    display: none;
}

.edit-btn{
    width:60px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin-left: 700px;
    margin-top: -37px;
    font-size: 15px;
}

.todo-favourite-div{
    margin-top: 20px;
}

.fav-todo-item{
    display: block;
}

.fav-heading{
    font-size: 25px;
    color:#7F55BF;
    display: none;
}

.todo-complete-div{
    margin-top: 20px;
}

.complete-todo-item{
    display: block;
    margin-top: 20px;
}

.complete-heading{
    font-size: 25px;
    color:#7F55BF;
    display: none;
}

.categories{
    width: 25%;
    height: 85%;
    position: fixed;
    background-color: #EDEDED;
    left: 74.4%;
    top: 16%;
} 


.secondDiv{
    width: 24.9%;
    height: 50px;
    position: fixed;
    top: 105px;
    background-color: #FFFFFF;
}

.iconify{
    /* border:2px solid black; */
    font-size: 30px;
    margin-top: 8px;
    margin-left: 20px;
    color: gray;
    cursor: pointer;
}

.secondDiv:hover,.thirdDiv:hover,.fourthDiv:hover,.fifthDiv:hover{
   background-color:#F5F5F5;
}

.daySettings{
    font-size: 20px;
    margin-left: 130px;
    margin-top:-25px;
    cursor: pointer;
}

.thirdDiv{
    width: 24.9%;
    height: 100px;
    position: fixed;
    top: 175px;
    background-color: #FFFFFF;
}

.remainder{
    width: 100%;
    height:50px;
    /* border-bottom: 1px solid gray; */
    position: relative;
}

.notify{
    font-size: 30px;
    margin-top: 8px;
    margin-left: 20px;
    color: gray;
    cursor: pointer;
}
.remainInput{
    height:50px;
    font-size: 20px;
    margin-left: 130px;
    margin-top:-25px;
    cursor: pointer;
}
.duedate{
    width: 100%;
    height:50px;
    /* border-bottom: 1px solid gray; */
}

.date{
    font-size: 30px;
    margin-top: 8px;
    margin-left: 20px;
    color: gray;
    cursor: pointer;
}

.dateInput{
    height:50px;
    font-size: 20px;
    margin-left: 130px;
    margin-top:-25px;
    cursor: pointer;
}

.fourthDiv{
    width: 24.9%;
    height: 50px;
    position: fixed;
    top: 300px;
    background-color: #FFFFFF;
}

.categoryInput{
    width:300px;
    border:none;
    height:30px;
    outline: none;
    font-size: 18px;
    margin-top: -23px;
    margin-left:130px;
}

.categorypick{
    font-size: 30px;
    margin-top: 8px;
    margin-left: 20px;
    opacity: 0.5;
    cursor: pointer;
    transform: rotate(90deg);
}

#crossIcon{
    width:50px;
    height: 50px;
    font-size: 30px;
    margin-top: -30px;
    margin-left: 450px; 
    color: gray;
    cursor: pointer;
    display: none;
}

#element1{
    width:80px;
    height: 30px;   
    /* border:2px solid black; */
    font-size:17px;
    color:lightBlack;
    margin-left:40px;
}

.icon{
    width:30px;
    height: 30px;
    font-size: 20px;
    margin-top: 10px; 
    margin-left: -80px;
    opacity: 0.5;
    cursor: pointer;
}

.fifthDiv{
    width: 24.9%;
    height: 50px;
    /* border: 1px solid grey; */
    /* margin: auto; */
    position: fixed;
    top: 375px;
    background-color: #FFFFFF;
}

.fa-paperclip{
    margin-top: 8px;
    margin-left: 20px;
    color: gray;
    cursor: pointer;
}

.addFile{
    width: 375px;
    height:50px;
    font-size: 20px;
    margin-left: 130px;
    margin-top:-27px;
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

#element2{
    width:170px;
    height: 30px;
    /* border:2px solid black; */
    font-size:17px;
    margin-top: -15px;
    margin-left: -20px;
    cursor: pointer;
    text-align: right;
    color: #1F1E20;
}

.fileAttachIcon{
    width:30px;
    height: 30px;
    font-size: 20px;
    margin-top: -15px; 
    margin-left:-120px;
    /* opacity: 0.5; */
    cursor: pointer;
    text-align: left;
}

.fileattachDiv{
    width:500px;
    height:50px;
    border:1px solid whitesmoke;
    background-color: white;
    margin:auto;
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
}

.remainderPopup{
    width:400px;
    height:288px;
    border: 2px solid  #EBEFF0;
    position: absolute;
    margin-top: -60px;
    margin-left: 75px;
    background-color: white;
}

.Head{
    font-size: 20px;
    width:100%;
    height:40px;
    /* border:1px solid black; */
    border-bottom: 1px solid #EBEFF0;
    line-height: 40px;
    text-align: center;
}

.laterToday,.tomorrow,.nextweek,.pickdatetimeRemain,.today{
    width: 100%;
    height: 50px;
    border-bottom:2px solid #EBEFF0;
    cursor: pointer;
}

.pickdatetime{
    margin-top: 25px;
}
.latertodayInput,.tomorrowInput,.nextweekInput,.datetimeInput,.todayInput{
    text-align: center;
    margin-top: -30px;
    font-size: 17px;
    color: grey;
}

.timerIcon,.tomorrowIcon,.nextweekIcon,.datetimeIcon{
    width:30px;
    height:30px;
    color:gray;
    /* border:1px solid black; */
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.laterToday:hover,.tomorrow:hover,.nextweek:hover,.today:hover{
    background-color: #F5F5F5;
}

.duePopup{
    width:400px;
    height:288px;
    border: 2px solid  #EBEFF0;
    position: absolute;
    margin-top: -310px;
    margin-left: 75px;
    background-color: white;
}

.TodayName,.TomorrowName,.NextweekName,.TodayTime{
    width:100px;
    height:20px;
    /* border:1px solid gray; */
    text-align: center;
    margin-top: -20px;
    margin-left: 290px;
    font-size: 17px;
    color: grey;
}

.note{
    width:30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 40px;
}

#element3{
    width:30px;
    height: 30px;
    font-size: 20px;
    /* border:1px solid black; */
    margin-top:-55px; 
    margin-left: 222px;
    opacity: 0.5;
    cursor: pointer;
}

.hoverelement1{
    width:200px;
    height: 25px;
    border:1px solid gray;
    font-size:20px;
    text-align: center;
}

.categoryPopup{
    width:400px;
    height:350px;
    border: 2px solid  #EBEFF0;
    position: absolute;
    margin-top: -310px;
    margin-left: 75px;
    background-color: white;
}

.redcolor,.yellowcolor,.bluecolor,.greencolor,.purplecolor,.orangecolor{
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 17px;
    list-style: none;
    margin-left: -20px;
 }

.redcolor{
    margin-top:14px;
}   

.orangecolor{
    margin-top:9px;
}

.redcolor:hover,.yellowcolor:hover,.bluecolor:hover,.greencolor:hover,.purplecolor:hover,.orangecolor:hover{
    background-color:#F5F5F5 ;
}

#red,#blue,#purple,#green,#yellow,#orange{
    width:20px;
    height:20px;
    /* border:2px solid black; */
    color: red;
    margin-top: 15px;
}

#blue{
    color: skyblue;
}

#yellow{
    color: #DAD7A7;
}

#green{
    color:lightseagreen
}

#purple{
    color: purple;
}

#orange{
    color: orange;
}

.red,.green,.blue,.purple,.yellow,.orange{
    text-align: center;
    margin-top: -20px;
}

.divred{
    width:160px;
    height: 30px;
    border:1px solid red;
    background-color: #F4C7C9;
    text-align: center;
    color:red;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    margin-top: -13px;
    margin-left: 300px;
}
.redcolors{
    width:160px;
    height: 30px;
    border:1px solid red;
    background-color: #F4C7C9;
    text-align: center;
    color:red;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 100px;
}

.divyellow,.yellowcolors{
    width:160px;
    height: 30px;
    border:1px solid black;
    background-color: lemonchiffon;
    text-align: center;
    color:black;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
}

.divgreen,.greencolors{
    width:160px;
    height: 30px;
    border:1px solid #257E20;
    background-color: #C2E1C1;
    text-align: center;
    color:#257E20;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
}

.divblue,.bluecolors{
    width:160px;
    height: 30px;
    border:1px solid #277898;
    background-color: #B2DCE8;
    text-align: center;
    color: #277898;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
}

.divpurple,.purplecolors{
    width:160px;
    height: 30px;
    border:1px solid #7D57B2;
    background-color:#C1B1DB;
    text-align: center;
    color: #7D57B2  ;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
}

.divorange,.orangecolors{
    width:160px;
    height: 30px;
    border:1px solid #A35A00;
    background-color: #EBD4B7;
    text-align: center;
    color:#A35A00;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
}

.day{
    width:100%;
    height:50px;
    border:1px solid rgba(248, 240, 240, 0.801); 
}   

.addday{
    width:200px;
    height:30px;
    border:gray;
    font-size: 18px;
    margin-top:-23px;
    text-align: center;
    cursor: pointer;
}

.Iconify{
    font-size: 25px;
    color: gray;
    cursor: pointer;
}

.important{
    width:100%;
    height:50px;
    border:1px solid rgba(248, 240, 240, 0.801);
}

.favIcon{
    font-size: 25px;
    /* color: plum; */
    cursor: pointer;
}

.addimp{
    width:200px;
    height:30px;
    border:gray;
    font-size: 18px;
    margin-top:-25px;
    text-align: center;
    cursor: pointer;
}

.tasks{
    width:100%;
    height:50px;
    border:1px solid rgba(248, 240, 240, 0.801);
}

.addtask{
    width:200px;
    height:30px;
    border:gray;
    font-size: 18px;
    margin-top:-25px;
    text-align: center;
    cursor: pointer;
}

.homeIcon{
    font-size: 25px;
    color: gray;
    cursor: pointer;
}

.completed{
    width:100%;
    height:50px;
    border:1px solid rgba(248, 240, 240, 0.801);
}

.addcomplete,.addremainder{
    width:200px;
    height:30px;
    border:gray;
    font-size: 18px;
    margin-top:-25px;
    text-align: center;
    cursor: pointer;
}

.checkIcon{
    font-size: 25px;
    color: gray;
    cursor: pointer;
}

.noofTasks{
    font-size:20px ;
    text-align: center;
    margin-top: -30px;
    margin-left:350px;
}

.nooffavTasks,.noofday,.noofremainders{
    font-size:20px ;
    text-align: center;
    margin-top: -30px;
    margin-left:350px;
}

.noofcompleteTasks{
    font-size:20px ;
    text-align: center;
    margin-top: -30px;
    margin-left:350px;
}

.todo-complete-div{
    margin-top: 15px;
}

.complete-todo-item{
    display: block;
}

.complete-heading,.day-heading{
    font-size: 25px;
    color:#7F55BF;
    /* display: none; */
}

.total-div{
    width:600px;
    margin-left:180px;
    margin-top: -45px;
    height:50px;
}

.colorcategories{
    width:100%;
    height:50px;
    border:1px solid rgba(248, 240, 240, 0.801); 
} 

.headcolor{
    font-size: 20px;
    margin-left: 20px; 
    margin-top: 20px;   
}

.todo-day-div{
    margin-top: 20px;
}

.DeletePopup{
    width:400px;
    height:200px;
    border:1px solid black;
    background-color: #EDEDED;
    position: fixed;
    top:300px;
    left:680px;
}

.delete-content{
    width:400px;
    height:100px;
    /* border: 1px solid red; */
}

.content{
    width: 300px;
    height: 50px;
    /* border: 1px solid blue; */
    position: fixed;
    top: 305px;
    left: 775px;
    font-size: 20px;
    text-align: center;
    line-height: 2.5;
}

.name-content{
    width: 120px;
    height: 50px;
    /* border: 2px solid black; */
    position: fixed;
    top: 305px;
    left: 685px;
    font-size: 20px;
    text-align: center;
    line-height: 2.5;
    background-color: lightcyan;
}

.delete-content{
    width: 390px;
    height: 50px;
    /* border: 2px solid black; */
    position: fixed;
    top: 375px;
    left: 685px;
    font-size: 20px;
    text-align: center;
    line-height: 2.5;
}

.buttons{
    width: 390px;
    height: 55px;
    /* border: 1px solid black; */
    position: fixed;
    top: 435px;
    left: 685px;
}

.cancelbut{
    width: 100px;
    height: 30px;
    font-size: 17px;
    position: fixed;
    top: 450px;
    left: 755px;
}

.deletebut{
    width: 100px;
    height: 30px;
    font-size: 17px;
    position: fixed;
    top: 450px;
    left: 915px;
}