.body{
    display: block;
    position: relative;
    overflow: hidden;
}

.body::after{
    display: table;
    clear: both;
}

.todohead{
    width: 100%;
    height: 75px;
    border-bottom: gray;
    font-size: 30px;
    color: white;
    top: -2px;
    background-color: dodgerblue;
    text-align: center;
    line-height: 2.5;
    position: fixed;
}
.TODO{
    width: 55%;
    margin: auto;
}

.Types{
    width: 300px;
    height: 91%;
    position: fixed;
    top: 75px;
    background-color: #EDEDED;
}

.todo-addtasks{
    width: 108%;
    background-color: white;
    position: fixed;
    top: 109px;
    display: inline-block;
}
.todo-header{
    width: 55%;
    position: fixed;
    top: 72px;
    font-size: 30px;
    /* border: 1px solid black; */
    color: dodgerblue;
    background-color: white;
    padding: 13px;
}

#todo-inputbox{
    width: 50%;
    height: 40px;
    border: 2px solid dodgerblue;
    font-size: 20px;
    outline: none;
    text-align: center;
    position: absolute;
    top: 22px;
    
}
#add{
    font-size: 20px;
    position: fixed;
    top: 131px;
    color: dodgerblue;
    width: 8%;
    height: 40px;
    outline: none;
    border: 1px solid dodgerblue;

}

.todo-container{
    min-height: 750px;
    height: 750px;
    margin-top: 179px;
    /* overflow-y: scroll !important; */
}
.todo-item,.todo-item-fav {
    height: 80px;   
    font-size: 18px;
    border-bottom: 1px solid #EBEFF0;
}
.checked {
    color:black;
    text-decoration: line-through;
}
.edit-icon,.remove-icon,.favourite-icon{
        width:40px;
        height:35px;
        color:gray;
        cursor: pointer;
}
.favourite-icon{
    margin-left: 800px;
}

.todo-item-input{
    width:30%;
    height:40px;
    font-size: 25px;
    outline: none;
    border: none;
    /* border: 1px solid black; */
    margin-top: -30px;
    margin-left:105px; 
}
.circle-icon{
    width:30px;
    height:30px;
    outline: none;
    border: 2px solid black;
    border-radius: 5px; 
    margin-top: 30px;
    cursor: pointer;
}
.remove-icon{
    margin-left: 850px;
    /* margin-left: 1000px; */
    margin-top: -40px;
}

#favouritestar{
    color: plum;
    margin-left: 800px;
}

.todo-favourite{
    width:50px;
    height: 50px;
    /* border:2px solid black; */
    margin-left: 160px;
    margin-top: -40px;
    cursor: pointer;
}
.fa-star-o,.fa-star{
    margin-left: 800px;
    /* margin-left: 1050px; */
    margin-top: -40px;
    cursor:pointer;
}
#favour{
    display:block;
}
.check-icon{
    width:20px;
    height:20px;
    margin-left: 4px;
    margin-top:4px;
    background-color: #7F55BF;
}
.colorchange{
   background-color:red;
}
.show{
    display: block;
}

.hide{
    display: none;
}

.edit-btn{
    width: 60px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin-left: 460px;
    /* margin-top: -45px; */
    font-size: 15px;
}

.todo-favourite-div{
    margin-top: 20px;
}

.fav-todo-item{
    display: block;
}

.fav-heading{
    font-size: 25px;
    color:#7F55BF;
    display: none;
}

.todo-complete-div{
    margin-top: 20px;
}

.complete-todo-item{
    display: block;
    margin-top: 20px;
}

.complete-heading{
    font-size: 25px;
    color:#7F55BF;
    display: none;
}

.categories{
    width: 20%;
    height: 100%;
    position: fixed;
    background-color: #EDEDED;
    right:0;
    top: 70px;
} 


.secondDiv{
    width: 368px;
    margin-top: 20px;
    height: 50px;
    /* top: 116px; */
    /* left: 1440px; */
    background-color:#F5F5F5;
    /* border: 1px solid black; */
}

.iconify{
    /* border:2px solid black; */
    font-size: 30px;
    margin-top: 8px;
    margin-left: 20px;
    color: gray;
    cursor: pointer;
}

.secondDiv:hover,.thirdDiv:hover,.fourthDiv:hover,.fifthDiv:hover{
   background-color:#FFFFFF;
}

.daySettings{
    font-size: 20px;
    margin-left: 130px;
    margin-top:-25px;
    cursor: pointer;
}

.thirdDiv{
    width: 368px;
    height: 100px;
    margin-top: 20px;
    /* left: 1440px; */
    background-color:#F5F5F5;
    /* border: 1px solid black; */
}

.remainder{
    width: 100%;
    height:50px;
    /* border-bottom: 1px solid gray; */
    position: relative;
}

.notify{
    font-size: 30px;
    margin-top: 8px;
    margin-left: 20px;
    color: gray;
    cursor: pointer;
}
.remainInput{
    height:50px;
    font-size: 20px;
    margin-left: 130px;
    margin-top:-25px;
    cursor: pointer;
}
.duedate{
    width: 100%;
    height:50px;
    /* border-bottom: 1px solid gray; */
}

.date{
    font-size: 30px;
    margin-top: 8px;
    margin-left: 20px;
    color: gray;
    cursor: pointer;
}

.dateInput{
    height:50px;
    font-size: 20px;
    margin-left: 130px;
    margin-top:-25px;
    cursor: pointer;
}

.fourthDiv{
    width: 375px;
    height: 50px;
    margin-top: 20px;
    /* left: 1440px; */
    background-color:#F5F5F5;
    /* border: 1px solid black; */
}

.priority-heading{
    font-size: 25px;
    color:#7F55BF;
    display: none;
}

.priorityInput{
    width:300px;
    border:none;
    height:30px;
    outline: none;
    font-size: 18px;
    margin-top: -23px;
    margin-left:130px;
}

.prioritypick{
    font-size: 30px;
    margin-top: 8px;
    margin-left: 20px;
    opacity: 0.5;
    cursor: pointer;
    transform: rotate(90deg);
}

#crossIcon{
    width:50px;
    height: 50px;
    font-size: 30px;
    margin-top: -30px;
    margin-left: 450px; 
    color: gray;
    cursor: pointer;
    display: none;
}

#element1{
    width:80px;
    height: 30px;   
    /* border:2px solid black; */
    font-size:17px;
    color:lightBlack;
    margin-left:40px;
}

.icon{
    width:30px;
    height: 30px;
    font-size: 20px;
    margin-top: 10px; 
    margin-left: -80px;
    opacity: 0.5;
    cursor: pointer;
}

.fifthDiv{
    width: 375px;
    height: 50px;
    margin-top: 20px;
    /* left: 1440px; */
    background-color:#F5F5F5;
    /* border: 1px solid black; */
}

.fa-paperclip{
    margin-top: 8px;
    margin-left: 20px;
    color: gray;
    cursor: pointer;
}

.addFilename{
    width: 375px;
    height: 50px;
    font-size: 20px;
    position: fixed;
    right: -142px;
    /* margin-left: 130px; */
    /* margin-top: 55px; */
    cursor: pointer;
    text-decoration: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

#element2{
    width:170px;
    height: 30px;
    /* border:2px solid black; */
    font-size:17px;
    margin-top: -15px;
    margin-left: -20px;
    cursor: pointer;
    text-align: right;
    color: #1F1E20;
}

.fileAttachIcon{
    width:30px;
    height: 30px;
    font-size: 20px;
    margin-top: -15px; 
    margin-left:-120px;
    /* opacity: 0.5; */
    cursor: pointer;
    text-align: left;
}

.fileattachDiv{
    width: 456px;
    height: 50px;
    border: 1px solid whitesmoke;
    background-color: white;
    margin-top: 360px;
    text-align: center;
    font-size: 17px;
}

.remainderPopup{
    width: 300px;
    height: 250px;
    border: 2px solid #EBEFF0;
    position: absolute;
    margin-top: -59px;
    margin-left: 60px;
    background-color: white;
}

.Head{
    font-size: 20px;
    width:100%;
    height:40px;
    /* border:1px solid black; */
    border-bottom: 1px solid #EBEFF0;
    line-height: 40px;
    text-align: center;
}

.laterToday,.tomorrow,.nextweek,.pickdatetimeRemain,.today{
    width: 100%;
    height: 50px;
    border-bottom:2px solid #EBEFF0;
    cursor: pointer;
}

.pickdatetime{
    margin-top: 25px;
}
.latertodayInput,.tomorrowInput,.nextweekInput,.datetimeInput,.todayInput{
    text-align: center;
    margin-top: -30px;
    font-size: 17px;
    color: grey;
}

.timerIcon,.tomorrowIcon,.nextweekIcon,.datetimeIcon{
    width:30px;
    height:30px;
    color:gray;
    /* border:1px solid black; */
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.laterToday:hover,.tomorrow:hover,.nextweek:hover,.today:hover{
    background-color: #F5F5F5;
}

.duePopup{
    width:400px;
    height:288px;
    border: 2px solid  #EBEFF0;
    position: absolute;
    margin-top: -310px;
    margin-left: 75px;
    background-color: white;
}

.TodayName,.TomorrowName,.NextweekName,.TodayTime{
    width: 100px;
    height: 20px;
    /* border: 1px solid gray; */
    text-align: center;
    margin-top: -20px;
    margin-left: 205px;
    font-size: 17px;
    color: grey;
}

.note{
    width:30px;
    height: 30px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 40px;
}

#element3{
    width:30px;
    height: 30px;
    font-size: 20px;
    /* border:1px solid black; */
    margin-top:-55px; 
    margin-left: 222px;
    opacity: 0.5;
    cursor: pointer;
}

.hoverelement1{
    width:200px;
    height: 25px;
    border:1px solid gray;
    font-size:20px;
    text-align: center;
}

.priorityPopup{
    width: 275px;
    height: 200px;
    border: 2px solid #EBEFF0;
    position: absolute;
    margin-top: 50px;
    margin-left: 75px;
    background-color: white;
}

.firstpriority,.secondpriority,.thirdpriority{
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: 17px;
    list-style: none;
    margin-left: -20px;
 }

.firstpriority{
    margin-top:14px;
}   

.secondpriority{
    margin-top:9px;
}

.firstpriority:hover,.secondpriority:hover,.thirdpriority:hover{
    background-color:#F5F5F5 ;
}

#one,#two,#three{
    width:20px;
    height:20px;
    color: magenta;
    margin-top: 15px;
}

#TWO{
    color: skyblue;
}

#THREE{
    color:palegreen;
}

.first,.second,.third{
    text-align: center;
    margin-top: -20px;
}

/* .priority1{
    width: 150px;
    height: 30px;
    border: 1px solid magenta;
    background-color: plum;
    text-align: center;
    color: black;
    font-size: 18px;
    line-height: 1.8;
    position: fixed;
    top: 500px;
    left: 150px;
}

.priority2{
    width:150px;
    height: 30px;
    border:1px solid  rgb(9, 185, 255);
    background-color:rgb(148, 220, 230);
    text-align: center;
    color:black;
    font-size: 18px;
    line-height: 1.8;
    position: fixed;
    top:550px;
    left:150px;
}

.priority3{
    width:150px;
    height: 30px;
    border:1px solid  rgb(73, 223, 14);
    background-color:rgb(211, 250, 211);
    text-align: center;
    color:black;
    font-size: 18px;
    line-height: 1.8;
    position: fixed;
    top:600px;
    left:150px;
} */

.PriorityOne{
    width:160px;
    height: 30px;
    border:1px solid magenta;
    background-color: plum;
    text-align: center;
    color:magenta;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
    margin-top: -13px;
    margin-left: 300px;
}

.PriorityTwo{
    width:160px;
    height: 30px;
    border:1px solid  rgb(9, 185, 255);
    background-color:rgb(148, 220, 230);
    text-align: center;
    color:rgb(9, 185, 255);
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
}

.PriorityThree{
    width:160px;
    height: 30px;
    border:1px solid palegreen;
    background-color:rgb(211, 250, 211);
    text-align: center;
    color:palegreen;
    font-size: 15px;
    line-height: 30px;
    display: inline-block;
}

.day,.important,.tasks,.completed,.dayset,.dayremainder,.fileattach{
    width:100%;
    height:50px;
    border:1px solid rgba(248, 240, 240, 0.801); 
}   

.addday,.addimp,.addremainder,.addtask,.addcomplete,.addfile{
    width:200px;
    height:30px;
    border:gray;
    font-size: 18px;
    margin-top:-25px;
    text-align: center;
    cursor: pointer;
}

.Iconify,.favIcon,.homeIcon,.checkIcon,.remainicon,.fileicon{
    font-size: 25px;
    color: gray;
    cursor: pointer;
}

.nooffavTasks,.noofcompleteTasks,.noofTasks,.noofday,.noofremainders,.nooffiles,.noofpriorities{
    font-size:20px ;
    text-align: center;
    margin-top: -30px;
    margin-left:200px;
}

/* .noofpriorities{
    margin-left:330px;
} */
.todo-complete-div{
    margin-top: 15px;
}

.complete-todo-item{
    display: block;
}

.complete-heading,.day-heading,.remain-heading,.file-heading{
    font-size: 25px;
    color:#7F55BF;
}

.total-div{
    width:600px;
    margin-left:250px;
    margin-top: -45px;
    height:50px;
}

.colorcategories{
    width:100%;
    height:50px;
    border:1px solid rgba(248, 240, 240, 0.801); 
} 

.headpro{
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px; 
    margin-top: 20px;   
}
